<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479286985509-oa57fdbdce01g7ouo5judf5asnkbm71m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479286985509-oa57fdbdce01g7ouo5judf5asnkbm71m</string>
	<key>API_KEY</key>
	<string>AIzaSyCNLzZ89Up4D3vdOGOH1Z0pqYUjbOdnNyE</string>
	<key>GCM_SENDER_ID</key>
	<string>479286985509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-6ceca</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-6ceca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479286985509:ios:2b622f8c5136d98d35d0cc</string>
</dict>
</plist>